DATA_FOLDER=./data
RPC_SERVER=["https://rpc.pulsechain.com", "https://rpc-pulsechain.g4mm4.io"]
LOG_CONTRACT_ADDRESS=0x7aE73C498A308247BE73688c09c96B3fd06dDB84
LOG_CONTRACT_ABI_FILE=SHIO.json
LOG_TOPIC=0x6b81130c485ac9b98332fa40c2e57900867815b0fe1497e1a168caf930fc9c9d
SHOW_AURA_AND_SOUL=0
START_BLOCK=21220693
CHANNEL_NAME=VOID